/*COLORS
Pale Green: CCD5AE
Toad green: E9EDC9
Silk: FEFAE0
Sand: FAEDCD
Fawn: D4A373*/

.navbar-brand{
    font-family: Fleur De Leah;
    color:#D4A373;
}

.container-fluid{
    background-color: #FAEDCD;
    margin-top: -8px;
}

.nav-link{
    color: #D4A373;
}

.container-fluid-2{
    background-color: #CCD5AE;
    font-family: Buda;
    margin-top: -8px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.navbar-nav{
    font-family: Zilla Slab;
}

.container{
    font-family: Zilla Slab;
}

.col-sm-8{
    font-family: Zilla Slab;
}

.body{
    margin-bottom: -40px;
    padding-top: 1px;
    padding-bottom: 5px;
}

.footer{
    background-color: #E9EDC9;
    font-family: Zilla Slab;
    align-items: center;
    vertical-align: middle;
    margin-top: -50px;
}